/*
    Descripcion: Tablas
    Autor: Alondra Ximena Gonzalez Romero
    Fecha: 24/10/2022
*/
html {
    height: 100%;
}

body {
    background-color: rgb(13, 82, 82);
    height: 100%;
}

h1 {
    color: white;
}
h4 {
    color: white;
}