/* 
 Descripcion: Tablas
    Autor: Alondra Ximena Gonzalez Romero
    Fecha: 12/10/2022
*/
html {
    height: 100%;
  }
  body {
   background: linear-gradient(rgb(251, 0, 255), rgb(227, 10, 10));
   height: 100%;
  }